body {
    font-family: "Poppins", sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

a {
    color: #510000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:#ff0000
}

.header {
    text-align: center;
    padding: 2rem;
}

.header h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #222;
}
